<ion-view view-title="Login">
	<ion-content>

	<form ng-submit="onSubmit()">  
  
	<div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Usuario</span>
	    <input type="text" placeholder="Ingrese su usuario" ng-model="user.usuario">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Constraseña</span>
	    <input type="password" placeholder="***************" ng-model="user.clave">
	  </label>
	</div>
     


		<button type="submit" class="button" >Ingresar</button>

</form> 
	</ion-content>  
</ion-view>