<ion-view view-title="Mi Perfil">
	<ion-content>

	<ion-list>
	<ion-item>
		<p>Datos de Perfil - PezAntes</p>
	</ion-item>
	</ion-list>
		 
  

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Usuario</span>
    <input type="text" placeholder="Ingrese un usuario">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Constraseña</span>
    <input type="password" placeholder="********">
  </label>

    <label class="item item-input item-stacked-label">
    <span class="input-label">Confirmar Constraseña</span>
    <input type="password" placeholder="********">
  </label>

</div>



 <div class="list">
  <label class="item item-input">
    <span class="input-label">Nombre</span>
    <input type="text" placeholder="Ingrese su primer nombre">
  </label>
  <label class="item item-input">
    <span class="input-label">Apellido</span>
    <input type="text" placeholder="Ingrese su primer apellido">
  </label>
</div>

<div class="button-bar">
  <a class="button">Grabar</a>
</div>


	</ion-content>  
</ion-view>